$backgroundColor: #000000;

nav {
  height: 100%;
  background-color: white;
  border-right: 1px solid #eaeaf1;
  padding-top: 60px;
  position: relative;

  .title {
    color: rgba($color: #000000, $alpha: 0.8);
    text-align: center;
    font-size: 20px;
    margin-bottom: 80px;
  }

  a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: 40px 0;
    text-decoration: none;
    color: #aab2c8;
    font-weight: 500;
    transition: 0.2s color, 0.2s font-weight;

    span {
      margin-right: 40px;
      font-size: 30px;
    }
  }

  .active {
    color: #000000;
    border-right: 2px solid #5e81f4;
    font-weight: 700 !important;

    span {
      color: #5e81f4;
    }
  }

  .options {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    height: 150px;
    width: 85%;
    background: #f5f5fa;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 20px 0;

    span {
      color: #5e81f4;
      position: absolute;
      top: -10px;
      left: 50%;
    }

    .logout-button {
      width: 85%;
      cursor: pointer;
      height: 40px;
      border: none;
      outline: none;
      background-color: #5e81f4;
      color: white;
      border-radius: 10px;
      font-weight: 500;
      font-size: 15px;
    }
  }
}
