<nav>
  <div class="title">
    <h1>Welcome!</h1>
  </div>
  <a routerLink="/dashboard" routerLinkActive="active">
    <span class="material-icons-outlined">dashboard</span>Dashboard
  </a>
  <a routerLink="/barGraph" routerLinkActive="active">
    <span class="material-icons-outlined">bar_chart</span>Histogram
  </a>
  <a routerLink="/pieGraph" routerLinkActive="active">
    <span class="material-icons-outlined">pie_chart</span>Top Sales
  </a>

  <div class="options">
    <button class="logout-button">Logout</button>
  </div>
</nav>
