.appbar {
  height: 60px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  .title {
    color: rgb(0, 0, 0, 0.8);
    font-weight: bold;
  }

  .control-panel {
    display: flex;
    align-items: center;

    span {
      color: #aab2c8;
      font-size: 25px;
      margin-right: 15px;
      cursor: pointer;
      transition: 0.2s all;
    }

    .account-button {
      width: 40px;
      height: 40px;
      background-color: #5e81f4;
      border-radius: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      p {
        margin-top: 7px;
        font-size: 25px;
      }
    }
  }
}
