.ng-select.multi-select-custom ::ng-deep {
  border: 0 !important;
  outline: none;
  font-family: "Muli", sans-serif;
  color: black;
  padding: 0;

  .ng-select-container {
    position: relative;

    .ng-placeholder {
      color: rgba(0, 0, 0, 0.8);
      font-weight: 600;
    }

    .ng-spinner-loader {
      position: absolute;
      right: 30px;
      top: 45%;
      transform: translateY(-50%);
    }

    .ng-value {
      background: #5e81f4;
      border-radius: 15px;
      padding: 3px 10px;
      display: flex;
      align-items: center;
      color: white;

      .ng-value-label {
        font-size: 12px;
      }
    }

    .ng-arrow-wrapper {
      bottom: 12px;
    }

    .ng-arrow {
      color: rgba(0, 0, 0, 0.8);
    }

    &::after {
      border-radius: 0;
      border-bottom: none !important;
    }
  }

  .ng-dropdown-panel {
    background-color: white;
    margin-top: 20px !important;
    border-radius: 10px;
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.5);
    overflow: hidden;

    .ng-option {
      font-size: 13px;
    }
    .ng-option.ng-option-marked {
      color: #5e81f4;
      background-color: rgba(0, 0, 0, 0.01);

      .ng-option-label {
        font-size: 13px;
      }
    }
  }
}

.ng-select-multiple ::ng-deep {
  .ng-arrow-wrapper {
    bottom: 2px !important;
  }
}

.ng-select-disabled ::ng-deep {
  .ng-select-container {
    .ng-placeholder {
      color: rgba(0, 0, 0, 0.2) !important;
      font-weight: 600;
    }

    .ng-arrow {
      color: rgba(0, 0, 0, 0.2) !important;
    }
  }
}
