<div class="bar-graphic-wrapper">
  <div class="title">Histogram</div>
  <div class="options">
    <multi-select
      (getSelected)="getSelected($event)"
      placeholder="Dimension"
      [items]="dimensions"
    ></multi-select>
    <multi-select
      (getSelected)="getSelected($event)"
      placeholder="Items"
      multiple="true"
      clearable="true"
      [items]="dimensionsRes"
    ></multi-select>
    <multi-select
      (getSelected)="getSelected($event)"
      [items]="years"
      placeholder="Year"
    ></multi-select>
    <multi-select
      (getSelected)="getSelected($event)"
      [items]="months"
      placeholder="Month"
    ></multi-select>
  </div>
  <div class="char">
    <app-bar-chart></app-bar-chart>
  </div>
</div>
