<div class="bar-graphic-wrapper">
  <div class="title">Histogram</div>
  <div class="options">
    <multi-select
      (getSelected)="setItems($event, 'dimension')"
      placeholder="Category"
      [items]="dimensions"
      [isLoading]="dimensions.length > 0 ? false : true"
    ></multi-select>

    <multi-select
      (getSelected)="setItems($event, 'year')"
      placeholder="Year"
      [items]="years"
      [clearable]="true"
      [isDisabled]="selectedDimension !== '' ? false : true"
    ></multi-select>
    <multi-select
      (getSelected)="setItems($event, 'month')"
      placeholder="Month"
      [items]="months"
      [clearable]="true"
      [(selectedItems)]="selectedMonth"
      [isDisabled]="
        selectedDimension !== '' && selectedYear !== '' ? false : true
      "
    ></multi-select>
    <multi-select
      (getSelected)="setItems($event, 'items')"
      placeholder="Items"
      [items]="dimensionItems"
      [closeOnSelect]="false"
      multiple="true"
      [isDisabled]="selectedDimension ? false : true"
      [(selectedItems)]="selectedItems"
      [clearable]="true"
      customClass="too-many-items-type"
    ></multi-select>
  </div>

  <ng-container *ngIf="selectedDimension; else noCategorySelected">
    <ng-container *ngIf="!isContentLoading; else loading">
      <ng-container *ngIf="dimensionItems.length > 0; else noItemSelected">
        <div class="char">
          <h2>
            Top {{ getDimensionTranslation().toLowerCase() }}s sales
            {{
              selectedYear
                ? selectedMonth
                  ? "on " + [selectedMonth] + " " + [selectedYear]
                  : "on " + [selectedYear]
                : ""
            }}
          </h2>
          <app-bar-chart
            [barChartData]="barChartData"
            [barChartLabels]="barChartLabels"
          ></app-bar-chart>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #noCategorySelected>
    <div class="noItems">
      <div class="content-wrapper">
        <h1>No category selected!</h1>
        <p>
          Please, select a category to start
        </p>
      </div>
    </div>
  </ng-template>

  <ng-template #loading>
    <div class="isLoading">
      <div class="content-wrapper">
        <h1>loading...</h1>
      </div>
    </div>
  </ng-template>

  <ng-template #noItemSelected>
    <div class="noItems">
      <div class="content-wrapper">
        <h1>No sales found for {{ getDimensionTranslation() }}s!</h1>
      </div>
    </div>
  </ng-template>
</div>
