<div class="bar-graphic-wrapper">
  <div class="title">Histogram</div>
  <div class="options">
    <multi-select
      (getSelected)="setItems($event, 'dimension')"
      placeholder="Dimension"
      [items]="dimensions"
      [isDisabled]="false"
    ></multi-select>
    <multi-select
      (getSelected)="setItems($event, 'items')"
      placeholder="Items"
      [closeOnSelect]="false"
      multiple="true"
      clearable="true"
      [items]="dimensionsRes"
      [isDisabled]="selectedDimension ? false : true"
    ></multi-select>
    <multi-select
      (getSelected)="setItems($event, 'year')"
      [items]="years"
      placeholder="Year"
      [isDisabled]="selectedItems.length > 0 ? false : true"
    ></multi-select>
    <multi-select
      (getSelected)="setItems($event, 'month')"
      [items]="months"
      placeholder="Month"
      [isDisabled]="selectedYear ? false : true"
    ></multi-select>
  </div>

  <ng-container
    *ngIf="selectedDimension && selectedItems.length > 0; else noItemsSelected"
  >
    <div class="char">
      <app-bar-chart
        [barChartData]="barChartData"
        [barChartLabels]="barChartLabels"
      ></app-bar-chart>
    </div>
  </ng-container>

  <ng-template #noItemsSelected>
    <div class="noItems">
      <div class="content-wrapper">
        <h1>No items selected!</h1>
        <p>
          Please, select {{ !selectedDimension ? "a dimension and" : " " }}
          {{ selectedItems.length < 0 ? " " : " some items" }} to start
        </p>
      </div>
    </div>
  </ng-template>
</div>
